<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Admin Login</title>
    <style>
      body {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-admin" aria-hidden="true"></span>Admin Login</h1>
        <p>log in with:</p>
        
        <form method="post" action="/auth/email/login">
            <div>Email: <input type="email" name="username" id="username"></div>
            <div>Passw : <input type="password" name="password" id="password"></div>
            <br>
            <input type="submit" class="btn btn-danger">
          </form>
      </div>
    </div>
  </body>
</html>
