<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Social Auth</title>
    <style>
      body {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-question-circle-o" aria-hidden="true"></span> Quiz App</h1>
        <p>log in with:</p>
        
        <form method="post" action="/quiz">
            <div>Number of Questions <input type="number" name="noQues" id="noQues" min="1" max="<%= max %>" required></div>
            <br>
            <br>
            <div>Time Needed<input type="number" name="time" id="time" min="1" max="60" required></div>
            <br>
            <br>
            <div>
              <input type="checkbox" name="maths" id="maths" value=2 checked> Maths
              <input type="checkbox" name="physics" id="physics" value=0> Physics
              <input type="checkbox" name="chemistry" id="chemistry" value=1> Chemistry
            </div>
            <input type="submit" class="btn btn-danger">
          </form>
  
      </div>
    </div>
  </body>
</html>
